.cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    min-width: 50vw;
    max-width: 70vw;
    gap:25px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

@media (max-width:400px) {
    .cards {
        margin-left: 34px;
    }
}