.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b2838;
    min-height: 100vh;
    
    
    background-image:
    linear-gradient(
      to right, 
      #1b2838, 
      #66c0f43f 50%,  
      #1b2838 
    );
    
}

.select-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  gap:10px;
  color:rgb(181, 206, 221)
}

select {

  background-color: #171a21;
  color: #8cc9f8  ;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 250px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}