
.cart {
    background-color:#2a475e;
    position: fixed;
    top:0;
    z-index: 2;
    height: 100%;
    right:0px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#ccdeec;
    padding:1rem;
    
    
    
}

.items {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.items > li {
    list-style-type: none;
    width: 80%;
    display: flex;
    justify-content: center;
}

.cart >h2 {
    margin-bottom: 10%;
}

.checkout-button {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #a7e48f;
    font-size: 1.2rem;
    background-image:
    linear-gradient(
      to right, 
      #7bc45e, 
      #437430 
    );
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    width: 80%;
    
}

.close-button {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #dfd65d;
    font-size: 1.2rem;
    background-image:
    linear-gradient(
      to right, 
      #aa8817, 
      #743a30 
    );
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    width: 80%;
    
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

