.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    transition: left 0.55s ease-in-out;
    left: -100%;
    z-index: 1;
}