.cart-card > * {
    margin:0;
    
}



.cart-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    
    
    
    position: relative;
    margin-bottom: 10px;
    font-size: 0.7rem;
}



 .cart-card > img {
    width: 100%;
    max-width: 200px;
    height: auto;
}



.cart-prices > h4 {
    margin:0
}

.checkout-button {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #a7e48f;
    font-size: 1.2rem;
    background-image:
    linear-gradient(
      to right, 
      #7bc45e, 
      #437430 
    );
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    width: 80%;
    
}

.cart-name {
    max-width: 150px;
}