:root {
    --z-index-overlay: 2;
}   

* {
    box-sizing:border-box;
}

.nav {
    background-color:#171a21;
    color: #8cc9f8;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap:2rem;
    padding: 0 8rem;
    position: sticky;
    top: 0;
    z-index: var(--z-index-overlay);

}

@media (max-width: 800px) {
    .nav {
        justify-content: center;
        gap:0.1rem; 
    }


    nav > .site-name {
        font-size: 1.2rem;
    
    }

    .router-link {
        font-size: 0.8rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    font-size: 1.4rem;
    margin-bottom: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a:hover {
    color:white
}

.nav > ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    gap: 1rem;
}

.cart-button {
    height:100%;
    display: flex;
    align-items: center;
    padding: 0.25 0.25rem;
    border-style: none;
    background-color: rgba(128, 128, 128, 0);
    color:white  

}




.site-name {
    font-size: 2.5rem;
    margin-top: 15px;
}
